



/* the welcome part */
.welcome-box {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    padding-top: 200px;
    padding-bottom: 150px;
    color: white;
    /* background-image: url("../images/seal-background.jpg"); */
    background-color: black;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.welcome{
    padding-top: 0px;
}


/* to reduce the space before main content */
#overview {
    margin-top: 25px;
}


/* animation */
.up-anime {
    position: relative;
    -webkit-animation-name: animatehead;
    -webkit-animation-duration: 1s;
    animation-name: animatehead;
    animation-duration: 1s
}
@-webkit-keyframes animatehead {
    from { bottom:-150px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatehead {
    from { bottom: -150px; opacity: 0 }
    to { bottom: 0; opacity: 1 }
}



/* contact me part */
#contact {
    max-width: 800px;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    color: rgb(69,90,100);
}
#contact p{
    text-align: center;
}
.form {
    border-radius: 5px;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(69,90,100);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(69,90,100);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(69,90,100);
    color: gray;
}


/* reduced anime mode */
@media screen and (prefers-reduced-motion: reduce) {
  .up-anime{
      -webkit-animation: none;
      animation: none;
  }
}

@media (max-width:479px) {
    .welcome-box {
        /* display: none; */
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* tablet */
@media (min-width:480px) and (max-width:850px) {
    .welcome-box {
        /* display: none; */
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* desktop */
@media (min-width:851px) {
    .education {
        width: 60%;
    }
    
    .teaching-assistant {
        width: 40%;
    }
    
}