



/* the welcome part */
.welcome-box {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    padding-top: 200px;
    padding-bottom: 150px;
    color: white;
    /* background-image: url("../images/seal-background.jpg"); */
    background-color: black;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.welcome{
    padding-top: 50px;
}


/* to reduce the space before main content */
#overview {
    margin-top: 25px;
}


/* animation */
.up-anime {
    position: relative;
    -webkit-animation-name: animatehead;
    -webkit-animation-duration: 1s;
    animation-name: animatehead;
    animation-duration: 1s
}
@-webkit-keyframes animatehead {
    from { bottom:-150px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatehead {
    from { bottom: -150px; opacity: 0 }
    to { bottom: 0; opacity: 1 }
}





/* reduced anime mode */
@media screen and (prefers-reduced-motion: reduce) {
  .up-anime{
      -webkit-animation: none;
      animation: none;
  }
}

@media (max-width:479px) {
    .welcome-box {
        display: none;
    }
}

/* tablet */
@media (min-width:480px) and (max-width:850px) {
    .welcome-box {
        display: none;
    }
}

/* desktop */
@media (min-width:851px) {
    .education {
        width: 60%;
    }
    
    .teaching-assistant {
        width: 40%;
    }
    
}