



/* the welcome part */
.welcome-box {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    padding-top: 200px;
    padding-bottom: 150px;
    color: white;
    background-color: black;    
    background-image: url("../images/um-background.jpg");

    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.welcome{
    padding-top: 0px;
}


/* to reduce the space before main content */
#overview {
    margin-top: 25px;
}


/* animation */
.up-anime {
    position: relative;
    -webkit-animation-name: animatehead;
    -webkit-animation-duration: 1s;
    animation-name: animatehead;
    animation-duration: 1s
}
@-webkit-keyframes animatehead {
    from { bottom:-150px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatehead {
    from { bottom: -150px; opacity: 0 }
    to { bottom: 0; opacity: 1 }
}



/* contact me part */
#contact {
    max-width: 800px;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    color: rgb(69,90,100);
}
#contact p{
    text-align: center;
}
.form {
    border-radius: 5px;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(69,90,100);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(69,90,100);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(69,90,100);
    color: gray;
}


/* The sea-seal protection flip-card */
.seal-box {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
}

#seal-photo {
    grid-column: 1/2;
    grid-row: 1/6;
    overflow: hidden;
}

#seal-text {
    grid-column: 2/3;
    grid-row: 2/5;
    /* font-family:  "Comic Sans MS"; */
    line-height: 1.6;
    padding-right: 60px;
    padding-left: 10px;
    max-width: 500px;
    align-self: center;
    text-align: justify;
}

#seal-text h3 {
    color: darkblue;
}

.flip-card {
    background-color: transparent;
    perspective: 1200px;
}

.flip-card-inner {
    position: relative;
    width: 600px;
    height: 450px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus-within .flip-card-inner,
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front img {
    width: 600px;
    height: 450px;
}

.flip-card-front {
    background-color: whitesmoke;
    color: black;
}

.flip-card-back {
    background-color: gray;
    color: black;
    transform: rotateY(180deg);
}





/* reduced anime mode */
@media screen and (prefers-reduced-motion: reduce) {
    .up-anime{
        -webkit-animation: none;
        animation: none;
    }

    .flip-card-inner {
        transform: none;
        transition: none;
    }
    .protect-seaseal {
        display: none;
    }
}

@media (max-width:479px) {
    .welcome-box {
        /* display: none; */
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .protect-seaseal {
        display: none;
    }
}

/* tablet */
@media (min-width:480px) and (max-width:850px) {
    .welcome-box {
        /* display: none; */
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .protect-seaseal {
        display: none;
    }
}

/* desktop */
@media (min-width:851px) and (max-width:1399px) {
    .education {
        width: 60%;
    }
    
    .teaching-assistant {
        width: 40%;
    }
    .protect-seaseal {
        display: none;
    }
}

@media (min-width:1400px) {
    .education {
        width: 60%;
    }
    
    .teaching-assistant {
        width: 40%;
    }
}